In [1]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC44\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: pandas>=1.2 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from seaborn) (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC44\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [3]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC44\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [4]:
pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (3.10.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (2.2.2)
Requirement already satisfied: packaging>=20.0 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (3.2.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC44\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
import pandas as pd
pengu = pd.read_csv('datasets\\penguins.csv')

In [7]:
pengu

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [8]:
pengu.info

<bound method DataFrame.info of      rowid    species     island  bill_length_mm  bill_depth_mm  \
0        1     Adelie  Torgersen            39.1           18.7
1        2     Adelie  Torgersen            39.5           17.4
2        3     Adelie  Torgersen            40.3           18.0
3        4     Adelie  Torgersen             NaN            NaN
4        5     Adelie  Torgersen            36.7           19.3
..     ...        ...        ...             ...            ...
339    340  Chinstrap      Dream            55.8           19.8
340    341  Chinstrap      Dream            43.5           18.1
341    342  Chinstrap      Dream            49.6           18.2
342    343  Chinstrap      Dream            50.8           19.0
343    344  Chinstrap      Dream            50.2           18.7

     flipper_length_mm  body_mass_g     sex  year
0                181.0       3750.0    male  2007
1                186.0       3800.0  female  2007
2                195.0       3250.0  female  2007
3                  NaN          NaN     NaN  2007
4                193.0       3450.0  female  2007
..                 ...          ...     ...   ...
339              207.0       4000.0    male  2009
340              202.0       3400.0  female  2009
341              193.0       3775.0    male  2009
342              210.0       4100.0    male  2009
343              198.0       3775.0  female  2009

[344 rows x 9 columns]>

In [9]:
pengu['species']

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: object

<h1>INSIGHT NO. 1<h1>

In [10]:
pengu['species'] == 'Adelei'

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [11]:
pengu['species'] == 'Chinstrap'

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340     True
341     True
342     True
343     True
Name: species, Length: 344, dtype: bool

In [12]:
pengu[pengu['species'] == 'Adelie']

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
147,148,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,149,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,150,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,151,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,152,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

In [13]:
pengu['island']

0      Torgersen
1      Torgersen
2      Torgersen
3      Torgersen
4      Torgersen
         ...
339        Dream
340        Dream
341        Dream
342        Dream
343        Dream
Name: island, Length: 344, dtype: object

In [14]:
pengu['island'] == 'Torgersen'

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: island, Length: 344, dtype: bool

In [15]:
pengu['island'] == 'Biscoe'

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: island, Length: 344, dtype: bool

<h1>INSIGHT NO.2<H1>

In [16]:
pengu[(pengu['species'] == 'Adelie') & (pengu['island'] == 'Torgersen')].count()

rowid                52
species              52
island               52
bill_length_mm       51
bill_depth_mm        51
flipper_length_mm    51
body_mass_g          51
sex                  47
year                 52
dtype: int64

In [17]:
pengu[(pengu['species'] == 'Adelie') & (pengu['island'] == 'Torgersen')].count()

rowid                52
species              52
island               52
bill_length_mm       51
bill_depth_mm        51
flipper_length_mm    51
body_mass_g          51
sex                  47
year                 52
dtype: int64

In [18]:
pengu[(pengu['species'] == 'Adelie') & (pengu['island'] == 'Biscoe')].count()

rowid                44
species              44
island               44
bill_length_mm       44
bill_depth_mm        44
flipper_length_mm    44
body_mass_g          44
sex                  44
year                 44
dtype: int64

In [19]:
pengu[(pengu['species'] == 'Adelie') & (pengu['island'] == 'Torgersen')].count()

rowid                52
species              52
island               52
bill_length_mm       51
bill_depth_mm        51
flipper_length_mm    51
body_mass_g          51
sex                  47
year                 52
dtype: int64

<h1> INSIGHT NO.3<h1>

<h1>Does the island affects the weight or body mass of penguin species</h1>

<h1>GENTOO ISLANDS<h1>

In [20]:
gb=pengu[(pengu['species'] == 'Gentoo') & (pengu['island'] == 'Biscoe')]

In [21]:
gt=pengu[(pengu['species'] == 'Gentoo') & (pengu['island'] == 'Torgersen')]

In [22]:
gd=pengu[(pengu['species'] == 'Gentoo') & (pengu['island'] == 'Dream')]

<h1>CHINSTRAP ISLANDS<h1>

In [23]:
cd=pengu[(pengu['species'] == 'Chinstrap') & (pengu['island'] == 'Dream')]

In [24]:
cb=pengu[(pengu['species'] == 'Chinstrap') & (pengu['island'] == 'Biscoe')]

In [25]:
ct=pengu[(pengu['species'] == 'Chinstrap') & (pengu['island'] == 'Torgersen')]

<h1>ADELIE ISLANDS<h1>

In [26]:
ade_coe=pengu[(pengu['species'] == 'Adelie') & (pengu['island'] == 'Biscoe')]

In [27]:
ade_tor=pengu[(pengu['species'] == 'Adelie') & (pengu['island'] == 'Torgersen')]

In [28]:
ade_ream=pengu[(pengu['species'] == 'Adelie') & (pengu['island'] == 'Dream')]

In [29]:
ade_tor

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,6,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
6,7,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007
7,8,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
8,9,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN,2007
9,10,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007
10,11,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN,2007
11,12,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN,2007
12,13,Adelie,Torgersen,41.1,17.6,182.0,3200.0,female,2007
13,14,Adelie,Torgersen,38.6,21.2,191.0,3800.0,male,2007
14,15,Adelie,Torgersen,34.6,21.1,198.0,4400.0,male,2007
15,16,Adelie,Torgersen,36.6,17.8,185.0,3700.0,female,2007
16,17,Adelie,Torgersen,38.7,19.0,195.0,3450.0,female,2007
17,18,Adelie,Torgersen,42.5,20.7,197.0,4500.0,male,2007
18,19,Adelie,Torgersen,34.4,18.4,184.0,3325.0,female,2007
19,20,Adelie,Torgersen,46.0,21.5,194.0,4200.0,male,2007
68,69,Adelie,Torgersen,35.9,16.6,190.0,3050.0,female,2008
69,70,Adelie,Torgersen,41.8,19.4,198.0,4450.0,male,2008
70,71,Adelie,Torgersen,33.5,19.0,190.0,3600.0,female,2008
71,72,Adelie,Torgersen,39.7,18.4,190.0,3900.0,male,2008
72,73,Adelie,Torgersen,39.6,17.2,196.0,3550.0,female,2008
73,74,Adelie,Torgersen,45.8,18.9,197.0,4150.0,male,2008
74,75,Adelie,Torgersen,35.5,17.5,190.0,3700.0,female,2008
75,76,Adelie,Torgersen,42.8,18.5,195.0,4250.0,male,2008
76,77,Adelie,Torgersen,40.9,16.8,191.0,3700.0,female,2008
77,78,Adelie,Torgersen,37.2,19.4,184.0,3900.0,male,2008
78,79,Adelie,Torgersen,36.2,16.1,187.0,3550.0,female,2008
79,80,Adelie,Torgersen,42.1,19.1,195.0,4000.0,male,2008
80,81,Adelie,Torgersen,34.6,17.2,189.0,3200.0,female,2008
81,82,Adelie,Torgersen,42.9,17.6,196.0,4700.0,male,2008
82,83,Adelie,Torgersen,36.7,18.8,187.0,3800.0,female,2008
83,84,Adelie,Torgersen,35.1,19.4,193.0,4200.0,male,2008
116,117,Adelie,Torgersen,38.6,17.0,188.0,2900.0,female,2009
117,118,Adelie,Torgersen,37.3,20.5,199.0,3775.0,male,2009
118,119,Adelie,Torgersen,35.7,17.0,189.0,3350.0,female,2009
119,120,Adelie,Torgersen,41.1,18.6,189.0,3325.0,male,2009
120,121,Adelie,Torgersen,36.2,17.2,187.0,3150.0,female,2009
121,122,Adelie,Torgersen,37.7,19.8,198.0,3500.0,male,2009
122,123,Adelie,Torgersen,40.2,17.0,176.0,3450.0,female,2009
123,124,Adelie,Torgersen,41.4,18.5,202.0,3875.0,male,2009
124,125,Adelie,Torgersen,35.2,15.9,186.0,3050.0,female,2009
125,126,Adelie,Torgersen,40.6,19.0,199.0,4000.0,male,2009
126,127,Adelie,Torgersen,38.8,17.6,191.0,3275.0,female,2009
127,128,Adelie,Torgersen,41.5,18.3,195.0,4300.0,male,2009
128,129,Adelie,Torgersen,39.0,17.1,191.0,3050.0,female,2009
129,130,Adelie,Torgersen,44.1,18.0,210.0,4000.0,male,2009
130,131,Adelie,Torgersen,38.5,17.9,190.0,3325.0,female,2009
131,132,Adelie,Torgersen,43.1,19.2,197.0,3500.0,male,2009

In [30]:
ade_coe

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
20,21,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female,2007
21,22,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male,2007
22,23,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female,2007
23,24,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male,2007
24,25,Adelie,Biscoe,38.8,17.2,180.0,3800.0,male,2007
25,26,Adelie,Biscoe,35.3,18.9,187.0,3800.0,female,2007
26,27,Adelie,Biscoe,40.6,18.6,183.0,3550.0,male,2007
27,28,Adelie,Biscoe,40.5,17.9,187.0,3200.0,female,2007
28,29,Adelie,Biscoe,37.9,18.6,172.0,3150.0,female,2007
29,30,Adelie,Biscoe,40.5,18.9,180.0,3950.0,male,2007
50,51,Adelie,Biscoe,39.6,17.7,186.0,3500.0,female,2008
51,52,Adelie,Biscoe,40.1,18.9,188.0,4300.0,male,2008
52,53,Adelie,Biscoe,35.0,17.9,190.0,3450.0,female,2008
53,54,Adelie,Biscoe,42.0,19.5,200.0,4050.0,male,2008
54,55,Adelie,Biscoe,34.5,18.1,187.0,2900.0,female,2008
55,56,Adelie,Biscoe,41.4,18.6,191.0,3700.0,male,2008
56,57,Adelie,Biscoe,39.0,17.5,186.0,3550.0,female,2008
57,58,Adelie,Biscoe,40.6,18.8,193.0,3800.0,male,2008
58,59,Adelie,Biscoe,36.5,16.6,181.0,2850.0,female,2008
59,60,Adelie,Biscoe,37.6,19.1,194.0,3750.0,male,2008
60,61,Adelie,Biscoe,35.7,16.9,185.0,3150.0,female,2008
61,62,Adelie,Biscoe,41.3,21.1,195.0,4400.0,male,2008
62,63,Adelie,Biscoe,37.6,17.0,185.0,3600.0,female,2008
63,64,Adelie,Biscoe,41.1,18.2,192.0,4050.0,male,2008
64,65,Adelie,Biscoe,36.4,17.1,184.0,2850.0,female,2008
65,66,Adelie,Biscoe,41.6,18.0,192.0,3950.0,male,2008
66,67,Adelie,Biscoe,35.5,16.2,195.0,3350.0,female,2008
67,68,Adelie,Biscoe,41.1,19.1,188.0,4100.0,male,2008
100,101,Adelie,Biscoe,35.0,17.9,192.0,3725.0,female,2009
101,102,Adelie,Biscoe,41.0,20.0,203.0,4725.0,male,2009
102,103,Adelie,Biscoe,37.7,16.0,183.0,3075.0,female,2009
103,104,Adelie,Biscoe,37.8,20.0,190.0,4250.0,male,2009
104,105,Adelie,Biscoe,37.9,18.6,193.0,2925.0,female,2009
105,106,Adelie,Biscoe,39.7,18.9,184.0,3550.0,male,2009
106,107,Adelie,Biscoe,38.6,17.2,199.0,3750.0,female,2009
107,108,Adelie,Biscoe,38.2,20.0,190.0,3900.0,male,2009
108,109,Adelie,Biscoe,38.1,17.0,181.0,3175.0,female,2009
109,110,Adelie,Biscoe,43.2,19.0,197.0,4775.0,male,2009
110,111,Adelie,Biscoe,38.1,16.5,198.0,3825.0,female,2009
111,112,Adelie,Biscoe,45.6,20.3,191.0,4600.0,male,2009
112,113,Adelie,Biscoe,39.7,17.7,193.0,3200.0,female,2009
113,114,Adelie,Biscoe,42.2,19.5,197.0,4275.0,male,2009
114,115,Adelie,Biscoe,39.6,20.7,191.0,3900.0,female,2009
115,116,Adelie,Biscoe,42.7,18.3,196.0,4075.0,male,2009

<h1>INSIGHT NO.4 Adelei</h1>

In [31]:
pengu['wkilo']= np.round(pengu['body_mass_g']/1000,1)

In [32]:
pengu

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,wkilo
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.8
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.8
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.2
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.4
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.4
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.8
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.8

In [33]:
ade_tor['body_mass_g']

0      3750.0
1      3800.0
2      3250.0
3         NaN
4      3450.0
5      3650.0
6      3625.0
7      4675.0
8      3475.0
9      4250.0
10     3300.0
11     3700.0
12     3200.0
13     3800.0
14     4400.0
15     3700.0
16     3450.0
17     4500.0
18     3325.0
19     4200.0
68     3050.0
69     4450.0
70     3600.0
71     3900.0
72     3550.0
73     4150.0
74     3700.0
75     4250.0
76     3700.0
77     3900.0
78     3550.0
79     4000.0
80     3200.0
81     4700.0
82     3800.0
83     4200.0
116    2900.0
117    3775.0
118    3350.0
119    3325.0
120    3150.0
121    3500.0
122    3450.0
123    3875.0
124    3050.0
125    4000.0
126    3275.0
127    4300.0
128    3050.0
129    4000.0
130    3325.0
131    3500.0
Name: body_mass_g, dtype: float64

In [34]:
ade_tor['body_mass_g'].mean()

np.float64(3706.372549019608)

In [35]:
ade_coe['body_mass_g'].mean()

np.float64(3709.659090909091)

In [36]:
ade_ream['body_mass_g'].mean()

np.float64(3688.3928571428573)

In [37]:
gb['body_mass_g'].mean()

np.float64(5076.016260162602)

In [38]:
gt['body_mass_g'].mean()

nan

In [39]:
gd['body_mass_g'].mean()

nan

In [40]:
cd['body_mass_g'].mean()

np.float64(3733.0882352941176)

In [41]:
ct['body_mass_g'].mean()

nan

In [42]:
cb['body_mass_g'].mean()

nan

In [43]:
np.round(ade_tor['body_mass_g'].mean(),1)
np.round(ade_coe['body_mass_g'].mean(),1)
np.round(ade_ream['body_mass_g'].mean(),1)
np.round(gb['body_mass_g'].mean(),1)
np.round(gt['body_mass_g'].mean(),1)
np.round(gd['body_mass_g'].mean(),1)
np.round(cd['body_mass_g'].mean(),1)
np.round(ct['body_mass_g'].mean(),1)
np.round(cb['body_mass_g'].mean(),1)

np.float64(nan)

In [44]:
np.round(ade_coe['body_mass_g'].mean(),1)

np.float64(3709.7)

In [45]:
np.round(ade_tor['body_mass_g'].mean(),1)

np.float64(3706.4)

In [46]:
np.round(ade_ream['body_mass_g'].mean(),1)

np.float64(3688.4)

<h1>INSIGHT NO. 5 Gentoo</h1>

In [47]:
np.round(gd['body_mass_g'].mean(),1)

np.float64(nan)

In [48]:
np.round(gt['body_mass_g'].mean(),1)

np.float64(nan)

In [49]:
np.round(gb['body_mass_g'].mean(),1)

np.float64(5076.0)

<h1>INSIGHT NO. 6 Chinstrap</h1>

In [50]:
np.round(cb['body_mass_g'].mean(),1)

np.float64(nan)

In [51]:
np.round(cd['body_mass_g'].mean(),1)

np.float64(3733.1)

In [52]:
np.round(ct['body_mass_g'].mean(),1)

np.float64(nan)

<h1>INSIGHT NO. 7 Gentoo has the highest avaerage kilo</h1>

<h1>INSIGHT NO. 8 year 2007 has the most recorded data for male</h1>

In [53]:
pengu_agg=pengu.groupby(['species','sex','year']).size()

pengu_agg

In [54]:
pengu_agg.unstack()

year              2007  2008  2009
species   sex
Adelie    female    22    25    26
          male      22    25    26
Chinstrap female    13     9    12
          male      13     9    12
Gentoo    female    16    22    20
          male      17    23    21

<H1>INSIGHT NO. 9</H1>
<H3>Which is heavier between paenguins in terms of SEX</H3>

In [55]:
weight_sex=np.round(pengu.groupby(['species','sex'])['wkilo'].mean(),1)

In [56]:
weight_sex.unstack()

sex        female  male
species
Adelie        3.4   4.0
Chinstrap     3.5   3.9
Gentoo        4.7   5.5

<h1>Male is heavier in terms of sex</h1>

<H1>INSIGHT NO. 10</H1>
<H3>What year has the highest recorded weight for male and female</H3>

In [57]:
weight_year=np.round(pengu.groupby(['species','sex','year'])['wkilo'].mean(),1)

In [58]:
weight_year.unstack()

year              2007  2008  2009
species   sex
Adelie    female   3.4   3.4   3.3
          male     4.0   4.1   4.0
Chinstrap female   3.6   3.5   3.5
          male     3.8   4.1   3.9
Gentoo    female   4.6   4.6   4.8
          male     5.5   5.4   5.5

<h1>The highest record for Male is 2007 and for Female is 2008</h1>

<h1>INSIGHT NO. 11<H1>

<h1>Correlation between bill length and bill depth</h1>

<h1>INSIGHT NO. 11<H1>

In [59]:
corr_ld= pengu['bill_length_mm'].corr(pengu['bill_depth_mm'])

In [60]:
corr_ld

np.float64(-0.23505287035553257)

<h1>There is no correlation</H1>

<h1>Correlation between flipper length and bill depth</h1>

In [61]:
corr_fb= pengu['flipper_length_mm'].corr(pengu['bill_depth_mm'])

In [62]:
corr_fb

np.float64(-0.5838512164654122)

<h1>INSIGHT NO. 12<H1>

In [63]:
corr_fb= pengu['flipper_length_mm'].corr(pengu['body_mass_g'])

In [64]:
corr_fb

np.float64(0.8712017673060113)

<h1>There is a correlation</H1>

<h1>INSIGHT NO. 13<H1>

<h1>Correlation between bill length and body_mass_g</h1>

In [65]:
corr_bb= pengu['bill_length_mm'].corr(pengu['body_mass_g'])

In [66]:
corr_bb

np.float64(0.5951098244376303)

<h1>There is a correlation</H1>

<h1>INSIGHT NO. 14<H1>

<h1>Correlation between bill depth and body_mass_g</h1>

In [67]:
corr_bdb= pengu['bill_depth_mm'].corr(pengu['body_mass_g'])

In [68]:
corr_bdb

np.float64(-0.47191562118606645)

<h1>There is no correlation</H1>

<h1>Correlation Analysis between Qualitative and Quantitative Data</h1>

<h1>Use of One way Anova</h1>

<h1>Science Python Library -- Spicy</h1>

In [69]:
pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (1.15.2)
Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\users\lab4-studentpc44\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from scipy) (2.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC44\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [70]:
from scipy.stats import f_oneway

<h1>Testing correlation between body mass and sex</h1>

In [71]:
pengu[pengu['sex']=='male']['body_mass_g']

0      3750.0
5      3650.0
7      4675.0
13     3800.0
14     4400.0
        ...
334    3800.0
336    3950.0
339    4000.0
341    3775.0
342    4100.0
Name: body_mass_g, Length: 168, dtype: float64

In [73]:
f_stats,p_value=f_oneway(pengu[pengu['sex']=='male']['body_mass_g'],pengu[pengu['sex']=='female']['body_mass_g'])

In [74]:
p_value

np.float64(4.897246751596225e-16)

In [75]:
f_stats

np.float64(72.96098633250918)

<h1>Insight no. 15 There is a strong correlation between sex and Body mass</h1>

In [77]:
f_stats,p_value=f_oneway(pengu[pengu['sex']=='male']['flipper_length_mm'],pengu[pengu['sex']=='female']['flipper_length_mm'])

In [79]:
f_stats

np.float64(23.05278588450418)

In [78]:
p_value

np.float64(2.3910970925541695e-06)

<h1>Insight no. 16 There is a strong correlation between sex and flipper length</h1>